body {
	/*background-color: blue;
	text-align: center;
	margin: 6em;
	margin-left: 15em; 
	width: 66%;width: 66%;
	padding: 5em;*/
}

.submit{
	/*margin-left: 95px;*/
}

/*html{
	box-sizing: border-box;
}*/
header{
	/*height: 200px;
	color: #ddd;*/
}

 
  
